name: Build and Release
on:
  push:
    tags:
      - "*"
    branches:
      - master

permissions:
  contents: write

jobs:
  build-jar:
    name: Build uber jar
    runs-on: ubuntu-latest
    env:
      veles-version: 0.1.0
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/jar

  build-native:
    name: Build on ${{ matrix.os }} ${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    needs: build-jar
    strategy:
      matrix:
        include:
          - os: linux
            arch: x86_64
            runner: ubuntu-latest
          # Uncomment when someone will need it
          # - os: linux
          #   arch: arm64
          #   runner: ubuntu-24.04-arm
          # - os: macos
          #   arch: x86_64
          #   runner: macos-13
          - os: macos
            arch: arm64
            runner: macos-14
          - os: windows
            arch: x86_64
            runner: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/native
        with:
          os: ${{ matrix.os }}
          arch: ${{ matrix.arch }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build-native
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v5
        with:
          path: ./release-artifacts

      - name: Determine release type
        id: rel
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "tag_release=true" >> "$GITHUB_OUTPUT"
            echo "tag_name=${GITHUB_REF#refs/tags/}" >> "$GITHUB_OUTPUT"
          else
            echo "tag_release=false" >> "$GITHUB_OUTPUT"
            echo "tag_name=nightly" >> "$GITHUB_OUTPUT"
          fi

      - name: Create Release
        run: |
          if [[ "${{ steps.rel.outputs.tag_release }}" == "true" ]]; then
            echo "Creating release ${{ steps.rel.outputs.tag_name }}"
            gh release create "${{ steps.rel.outputs.tag_name }}" ./release-artifacts/**/* \
              --title "${{ steps.rel.outputs.tag_name }}" \
              --generate-notes
          else
            echo "Creating prerelease..."
            gh release delete nightly --yes || true
            git push origin :nightly || true
            gh release create "${{ steps.rel.outputs.tag_name }}" ./release-artifacts/**/* \
              --title "Latest development build" \
              --generate-notes \
              --prerelease
          fi
        env:
          GH_TOKEN: ${{ github.token }}
